<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DevOps - Challenge</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>May the ops be with you</h1>

  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>

  <h2>Add a quote</h2>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <h2>Linux is better?</h2>
  <button id="up" type="button">Search</button>
  <h2>Clean table quotes</h2>
  <button id="delete" type="button">Clean screen</button>


  <script src="main.js"></script>

</body>
</html>
